<div class="fluid-container card bg-white mx-auto" style="width: 40rem; height: auto;">
  <p class="display-text text-center modern-font">LOGIN</p>

  <div *ngIf="userCredentialsError.userCredErrStatus" class="text-danger fs-3 text-center mb-3">
      {{userCredentialsError.userCredErrMsg}}
  </div>

  <form class="w-50 mx-auto mt-3" [formGroup]="userCredentials" (ngSubmit)="onSubmitUser()" #ref="ngForm">
      <div class="mb-3 d-flex justify-content-center">
          <div 
              class="toggle-btn" 
              [class.active]="userCredentials.get('loginType').value === 'user'"
              (click)="userCredentials.get('loginType').setValue('user')">
              User
          </div>
          <div 
              class="toggle-btn" 
              [class.active]="userCredentials.get('loginType').value === 'admin'"
              (click)="userCredentials.get('loginType').setValue('admin')">
              Admin
          </div>
      </div>
  
      <div class="mb-2">
          <label for="email" class="form-label modern-font">Email</label>
          <input type="text" formControlName="email" id="email" class="form-control modern-font">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched || ref.submitted)">
              <p *ngIf="email?.errors?.['required']" class="text-danger modern-font">Email is required</p>
              <p *ngIf="email?.errors?.['minlength']" class="text-danger modern-font">MinLength is 4</p>
              <p *ngIf="email?.errors?.['maxlength']" class="text-danger modern-font">MaxLength is 6</p>
          </div>
      </div>
    
      <div class="mb-2">
          <label for="password" class="form-label modern-font">Password</label>
          <input type="password" formControlName="password" id="password" class="form-control modern-font">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched || ref.submitted)">
              <p *ngIf="password?.errors?.['required']" class="text-danger modern-font">Password is required</p>
          </div>
      </div>

      <button type="submit" class="btn btn-success modern-font d-block mx-auto mt-3 mb-4">Login</button>
      <p class="text-center text-dark h6">Don't have an account?<a class="register" routerLink="/register"> Register</a></p>
  </form>
</div>
