button{
    color: black;
    background-color:white;
    border: 2px solid #29d4b7;
    border-radius: 3px;
    max-width: fit-content;
    padding: 10px;
    margin-left: 100px;
}

button:hover{
    color: #29d4b7;
    border-radius: 3px;
    border: 2px solid black;
}