  
    <div class="row">
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-3 pt-5" *ngFor="let movie of movies">
       
        <div class="card p-100 d-flex flex-column" height="500px" style="width: 18rem; border-radius: 3px; margin: 5%;">
            @if(status===true){
              <img [src]="movie.image" class="card-img-top"  alt="movie Image" height="530px" width="25px" >
            <h5 class="card-title mt-2" style="text-align:center;">{{ movie.movieName }}</h5>
              
              @if(!isUser){
                <button class="my-2" (click)="bookTicket(movie.movieName)">Update Status</button>
    
               }@else{
                <button class="my-2" (click)="bookTicket(movie.movieName)">Book Now</button>

               }

            }@else{
              <img [src]="movie.image" class="card-img-top" (click)="login()" alt="movie Image" height="530px" width="25px" >
            <h5 class="card-title mt-2" style="text-align:center;">{{ movie.movieName }}</h5>
            }
         

            
          </div>
          
        </div>
      </div>
 
 


