ul{
    background-color:black;
    margin-bottom: 10px;

    
}

a:hover{
    color:black;
    
    background-color:red;
    
    
}
/* .nav-link:hover{
    color: rgb(170, 46, 56);
    
} */

a{
    color:red;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
